src/main/resources/soapresources/verification/IdentitySearch.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://IdentitySearch.nimc/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://IdentitySearch.nimc/" name="IdentitySearch">
<types>
<xsd:schema>
<xsd:import namespace="http://IdentitySearch.nimc/" schemaLocation="IdentitySearch.xsd" />
</xsd:schema>
</types>
<message name="getPermissionByLevel">
<part name="parameters" element="tns:getPermissionByLevel" />
</message>
<message name="getPermissionByLevelResponse">
<part name="parameters" element="tns:getPermissionByLevelResponse" />
</message>
<message name="getPermissionByLevel2">
<part name="parameters" element="tns:getPermissionByLevel2" />
</message>
<message name="getPermissionByLevel2Response">
<part name="parameters" element="tns:getPermissionByLevel2Response" />
</message>
<message name="getAccessObject">
<part name="parameters" element="tns:getAccessObject" />
</message>
<message name="getAccessObjectResponse">
<part name="parameters" element="tns:getAccessObjectResponse" />
</message>
<message name="getAccessList">
<part name="parameters" element="tns:getAccessList" />
</message>
<message name="getAccessListResponse">
<part name="parameters" element="tns:getAccessListResponse" />
</message>
<message name="grantaccessType">
<part name="parameters" element="tns:grantaccessType" />
</message>
<message name="grantaccessTypeResponse">
<part name="parameters" element="tns:grantaccessTypeResponse" />
</message>
<message name="revokeaccessType">
<part name="parameters" element="tns:revokeaccessType" />
</message>
<message name="revokeaccessTypeResponse">
<part name="parameters" element="tns:revokeaccessTypeResponse" />
</message>
<message name="grantaccessDemo">
<part name="parameters" element="tns:grantaccessDemo" />
</message>
<message name="grantaccessDemoResponse">
<part name="parameters" element="tns:grantaccessDemoResponse" />
</message>
<message name="revokeaccessDemo">
<part name="parameters" element="tns:revokeaccessDemo" />
</message>
<message name="revokeaccessDemoResponse">
<part name="parameters" element="tns:revokeaccessDemoResponse" />
</message>
<message name="verifyFinger">
<part name="parameters" element="tns:verifyFinger" />
</message>
<message name="verifyFingerResponse">
<part name="parameters" element="tns:verifyFingerResponse" />
</message>
<message name="verifyFingerWithData">
<part name="parameters" element="tns:verifyFingerWithData" />
</message>
<message name="verifyFingerWithDataResponse">
<part name="parameters" element="tns:verifyFingerWithDataResponse" />
</message>
<message name="compareFinger">
<part name="parameters" element="tns:compareFinger" />
</message>
<message name="compareFingerResponse">
<part name="parameters" element="tns:compareFingerResponse" />
</message>
<message name="validIDs">
<part name="parameters" element="tns:validIDs" />
</message>
<message name="validIDsResponse">
<part name="parameters" element="tns:validIDsResponse" />
</message>
<message name="UpdateUser">
<part name="parameters" element="tns:UpdateUser" />
</message>
<message name="UpdateUserResponse">
<part name="parameters" element="tns:UpdateUserResponse" />
</message>
<message name="UpdateUserAndResetPassword">
<part name="parameters" element="tns:UpdateUserAndResetPassword" />
</message>
<message name="UpdateUserAndResetPasswordResponse">
<part name="parameters" element="tns:UpdateUserAndResetPasswordResponse" />
</message>
<message name="UpdateUserSELF">
<part name="parameters" element="tns:UpdateUserSELF" />
</message>
<message name="UpdateUserSELFResponse">
<part name="parameters" element="tns:UpdateUserSELFResponse" />
</message>
<message name="getUserByName">
<part name="parameters" element="tns:getUserByName" />
</message>
<message name="getUserByNameResponse">
<part name="parameters" element="tns:getUserByNameResponse" />
</message>
<message name="checkDuplicateUserForORGs">
<part name="parameters" element="tns:checkDuplicateUserForORGs" />
</message>
<message name="checkDuplicateUserForORGsResponse">
<part name="parameters" element="tns:checkDuplicateUserForORGsResponse" />
</message>
<message name="getUserByID">
<part name="parameters" element="tns:getUserByID" />
</message>
<message name="getUserByIDResponse">
<part name="parameters" element="tns:getUserByIDResponse" />
</message>
<message name="getAllUsers">
<part name="parameters" element="tns:getAllUsers" />
</message>
<message name="getAllUsersResponse">
<part name="parameters" element="tns:getAllUsersResponse" />
</message>
<message name="searchByFingerAndPosition">
<part name="parameters" element="tns:searchByFingerAndPosition" />
</message>
<message name="searchByFingerAndPositionResponse">
<part name="parameters" element="tns:searchByFingerAndPositionResponse" />
</message>
<message name="getSignature">
<part name="parameters" element="tns:getSignature" />
</message>
<message name="getSignatureResponse">
<part name="parameters" element="tns:getSignatureResponse" />
</message>
<message name="searchByOneFingerRecursive">
<part name="parameters" element="tns:searchByOneFingerRecursive" />
</message>
<message name="searchByOneFingerRecursiveResponse">
<part name="parameters" element="tns:searchByOneFingerRecursiveResponse" />
</message>
<message name="TransferUnits">
<part name="parameters" element="tns:TransferUnits" />
</message>
<message name="TransferUnitsResponse">
<part name="parameters" element="tns:TransferUnitsResponse" />
</message>
<message name="getAvailableUnits">
<part name="parameters" element="tns:getAvailableUnits" />
</message>
<message name="getAvailableUnitsResponse">
<part name="parameters" element="tns:getAvailableUnitsResponse" />
</message>
<message name="login">
<part name="parameters" element="tns:login" />
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse" />
</message>
<message name="ApproveUser">
<part name="parameters" element="tns:ApproveUser" />
</message>
<message name="ApproveUserResponse">
<part name="parameters" element="tns:ApproveUserResponse" />
</message>
<message name="DeclineUser">
<part name="parameters" element="tns:DeclineUser" />
</message>
<message name="DeclineUserResponse">
<part name="parameters" element="tns:DeclineUserResponse" />
</message>
<message name="passwordchange">
<part name="parameters" element="tns:passwordchange" />
</message>
<message name="passwordchangeResponse">
<part name="parameters" element="tns:passwordchangeResponse" />
</message>
<message name="AllTransfersByASA">
<part name="parameters" element="tns:AllTransfersByASA" />
</message>
<message name="AllTransfersByASAResponse">
<part name="parameters" element="tns:AllTransfersByASAResponse" />
</message>
<message name="createAccountORGChecker">
<part name="parameters" element="tns:createAccountORGChecker" />
</message>
<message name="createAccountORGCheckerResponse">
<part name="parameters" element="tns:createAccountORGCheckerResponse" />
</message>
<message name="createAccountUSER">
<part name="parameters" element="tns:createAccountUSER" />
</message>
<message name="createAccountUSERResponse">
<part name="parameters" element="tns:createAccountUSERResponse" />
</message>
<message name="searchByNIN">
<part name="parameters" element="tns:searchByNIN" />
</message>
<message name="searchByNINResponse">
<part name="parameters" element="tns:searchByNINResponse" />
</message>
<message name="searchByDocumentNo">
<part name="parameters" element="tns:searchByDocumentNo" />
</message>
<message name="searchByDocumentNoResponse">
<part name="parameters" element="tns:searchByDocumentNoResponse" />
</message>
<message name="searchByID">
<part name="parameters" element="tns:searchByID" />
</message>
<message name="searchByIDResponse">
<part name="parameters" element="tns:searchByIDResponse" />
</message>
<message name="searchByIDs">
<part name="parameters" element="tns:searchByIDs" />
</message>
<message name="searchByIDsResponse">
<part name="parameters" element="tns:searchByIDsResponse" />
</message>
<message name="searchByDemo">
<part name="parameters" element="tns:searchByDemo" />
</message>
<message name="searchByDemoResponse">
<part name="parameters" element="tns:searchByDemoResponse" />
</message>
<message name="searchByDemoNIN">
<part name="parameters" element="tns:searchByDemoNIN" />
</message>
<message name="searchByDemoNINResponse">
<part name="parameters" element="tns:searchByDemoNINResponse" />
</message>
<message name="getAllTopUpUnits">
<part name="parameters" element="tns:getAllTopUpUnits" />
</message>
<message name="getAllTopUpUnitsResponse">
<part name="parameters" element="tns:getAllTopUpUnitsResponse" />
</message>
<message name="unitsummaryASA">
<part name="parameters" element="tns:unitsummaryASA" />
</message>
<message name="unitsummaryASAResponse">
<part name="parameters" element="tns:unitsummaryASAResponse" />
</message>
<message name="unitsummaryORG">
<part name="parameters" element="tns:unitsummaryORG" />
</message>
<message name="unitsummaryORGResponse">
<part name="parameters" element="tns:unitsummaryORGResponse" />
</message>
<message name="transactioncountORG">
<part name="parameters" element="tns:transactioncountORG" />
</message>
<message name="transactioncountORGResponse">
<part name="parameters" element="tns:transactioncountORGResponse" />
</message>
<message name="transactioncountRangeORG">
<part name="parameters" element="tns:transactioncountRangeORG" />
</message>
<message name="transactioncountRangeORGResponse">
<part name="parameters" element="tns:transactioncountRangeORGResponse" />
</message>
<message name="transactioncountUSER">
<part name="parameters" element="tns:transactioncountUSER" />
</message>
<message name="transactioncountUSERResponse">
<part name="parameters" element="tns:transactioncountUSERResponse" />
</message>
<message name="transactioncountRangeUSER">
<part name="parameters" element="tns:transactioncountRangeUSER" />
</message>
<message name="transactioncountRangeUSERResponse">
<part name="parameters" element="tns:transactioncountRangeUSERResponse" />
</message>
<message name="transactionLogsORG">
<part name="parameters" element="tns:transactionLogsORG" />
</message>
<message name="transactionLogsORGResponse">
<part name="parameters" element="tns:transactionLogsORGResponse" />
</message>
<message name="transactionLogsRangeORG">
<part name="parameters" element="tns:transactionLogsRangeORG" />
</message>
<message name="transactionLogsRangeORGResponse">
<part name="parameters" element="tns:transactionLogsRangeORGResponse" />
</message>
<message name="transactionLogsUSER">
<part name="parameters" element="tns:transactionLogsUSER" />
</message>
<message name="transactionLogsUSERResponse">
<part name="parameters" element="tns:transactionLogsUSERResponse" />
</message>
<message name="transactionLogsRangeUSER">
<part name="parameters" element="tns:transactionLogsRangeUSER" />
</message>
<message name="transactionLogsRangeUSERResponse">
<part name="parameters" element="tns:transactionLogsRangeUSERResponse" />
</message>
<portType name="IdentitySearch">
<operation name="getPermissionByLevel">
<input wsam:Action="http://IdentitySearch.nimc/IdentitySearch/getPermissionByLevelRequest" message="tns:getPermissionByLevel" />
<output wsam:Action="http://IdentitySearch.nimc/IdentitySearch/getPermissionByLevelResponse" message="tns:getPermissionByLevelResponse" />
</operation>
<operation name="getPermissionByLevel2">
<input wsam:Action="http://IdentitySearch.nimc/IdentitySearch/getPermissionByLevel2Request" message="tns:getPermissionByLevel2" />
<output wsam:Action="http://IdentitySearch.nimc/IdentitySearch/getPermissionByLevel2Response" message="tns:getPermissionByLevel2Response" />
</operation>
<operation name="getAccessObject">
<input wsam:Action="http://IdentitySearch.nimc/IdentitySearch/getAccessObjectRequest" message="tns:getAccessObject" />
<output wsam:Action="http://IdentitySearch.nimc/IdentitySearch/getAccessObjectResponse" message="tns:getAccessObjectResponse" />
</operation>
<operation name="getAccessList">
<input wsam:Action="http://IdentitySearch.nimc/IdentitySearch/getAccessListRequest" message="tns:getAccessList" />
<output wsam:Action="http://IdentitySearch.nimc/IdentitySearch/getAccessListResponse" message="tns:getAccessListResponse" />
</operation>
<operation name="grantaccessType">
<input wsam:Action="http://IdentitySearch.nimc/IdentitySearch/grantaccessTypeRequest" message="tns:grantaccessType" />
<output wsam:Action="http://IdentitySearch.nimc/IdentitySearch/grantaccessTypeResponse" message="tns:grantaccessTypeResponse" />
</operation>
<operation name="revokeaccessType">
<input wsam:Action="http://IdentitySearch.nimc/IdentitySearch/revokeaccessTypeRequest" message="tns:revokeaccessType" />
<output wsam:Action="http://IdentitySearch.nimc/IdentitySearch/revokeaccessTypeResponse" message="tns:revokeaccessTypeResponse" />
</operation>
<operation name="grantaccessDemo">
<input wsam:Action="http://IdentitySearch.nimc/IdentitySearch/grantaccessDemoRequest" message="tns:grantaccessDemo" />
<output wsam:Action="http://IdentitySearch.nimc/IdentitySearch/grantaccessDemoResponse" message="tns:grantaccessDemoResponse" />
</operation>
<operation name="revokeaccessDemo">
<input wsam:Action="http://IdentitySearch.nimc/IdentitySearch/revokeaccessDemoRequest" message="tns:revokeaccessDemo" />
<output wsam:Action="http://IdentitySearch.nimc/IdentitySearch/revokeaccessDemoResponse" message="tns:revokeaccessDemoResponse" />
</operation>
<operation name="verifyFinger">
<input wsam:Action="http://IdentitySearch.nimc/IdentitySearch/verifyFingerRequest" message="tns:verifyFinger" />
<output wsam:Action="http://IdentitySearch.nimc/IdentitySearch/verifyFingerResponse" message="tns:verifyFingerResponse" />
</operation>
<operation name="verifyFingerWithData">
<input wsam:Action="http://IdentitySearch.nimc/IdentitySearch/verifyFingerWithDataRequest" message="tns:verifyFingerWithData" />
<output wsam:Action="http://IdentitySearch.nimc/IdentitySearch/verifyFingerWithDataResponse" message="tns:verifyFingerWithDataResponse" />
</operation>
<operation name="compareFinger">
<input wsam:Action="http://IdentitySearch.nimc/IdentitySearch/compareFingerRequest" message="tns:compareFinger" />
<output wsam:Action="http://IdentitySearch.nimc/IdentitySearch/compareFingerResponse" message="tns:compareFingerResponse" />
</operation>
<operation name="validIDs">
<input wsam:Action="http://IdentitySearch.nimc/IdentitySearch/validIDsRequest" message="tns:validIDs" />
<output wsam:Action="http://IdentitySearch.nimc/IdentitySearch/validIDsResponse" message="tns:validIDsResponse" />
</operation>
<operation name="UpdateUser">
<input wsam:Action="http://IdentitySearch.nimc/IdentitySearch/UpdateUserRequest" message="tns:UpdateUser" />
<output wsam:Action="http://IdentitySearch.nimc/IdentitySearch/UpdateUserResponse" message="tns:UpdateUserResponse" />
</operation>
<operation name="UpdateUserAndResetPassword">
<input wsam:Action="http://IdentitySearch.nimc/IdentitySearch/UpdateUserAndResetPasswordRequest" message="tns:UpdateUserAndResetPassword" />
<output wsam:Action="http://IdentitySearch.nimc/IdentitySearch/UpdateUserAndResetPasswordResponse" message="tns:UpdateUserAndResetPasswordResponse" />
</operation>
<operation name="UpdateUserSELF">
<input wsam:Action="http://IdentitySearch.nimc/IdentitySearch/UpdateUserSELFRequest" message="tns:UpdateUserSELF" />
<output wsam:Action="http://IdentitySearch.nimc/IdentitySearch/UpdateUserSELFResponse" message="tns:UpdateUserSELFResponse" />
</operation>
<operation name="getUserByName">
<input wsam:Action="http://IdentitySearch.nimc/IdentitySearch/getUserByNameRequest" message="tns:getUserByName" />
<output wsam:Action="http://IdentitySearch.nimc/IdentitySearch/getUserByNameResponse" message="tns:getUserByNameResponse" />
</operation>
<operation name="checkDuplicateUserForORGs">
<input wsam:Action="http://IdentitySearch.nimc/IdentitySearch/checkDuplicateUserForORGsRequest" message="tns:checkDuplicateUserForORGs" />
<output wsam:Action="http://IdentitySearch.nimc/IdentitySearch/checkDuplicateUserForORGsResponse" message="tns:checkDuplicateUserForORGsResponse" />
</operation>
<operation name="getUserByID">
<input wsam:Action="http://IdentitySearch.nimc/IdentitySearch/getUserByIDRequest" message="tns:getUserByID" />
<output wsam:Action="http://IdentitySearch.nimc/IdentitySearch/getUserByIDResponse" message="tns:getUserByIDResponse" />
</operation>
<operation name="getAllUsers">
<input wsam:Action="http://IdentitySearch.nimc/IdentitySearch/getAllUsersRequest" message="tns:getAllUsers" />
<output wsam:Action="http://IdentitySearch.nimc/IdentitySearch/getAllUsersResponse" message="tns:getAllUsersResponse" />
</operation>
<operation name="searchByFingerAndPosition">
<input wsam:Action="http://IdentitySearch.nimc/IdentitySearch/searchByFingerAndPositionRequest" message="tns:searchByFingerAndPosition" />
<output wsam:Action="http://IdentitySearch.nimc/IdentitySearch/searchByFingerAndPositionResponse" message="tns:searchByFingerAndPositionResponse" />
</operation>
<operation name="getSignature">
<input wsam:Action="http://IdentitySearch.nimc/IdentitySearch/getSignatureRequest" message="tns:getSignature" />
<output wsam:Action="http://IdentitySearch.nimc/IdentitySearch/getSignatureResponse" message="tns:getSignatureResponse" />
</operation>
<operation name="searchByOneFingerRecursive">
<input wsam:Action="http://IdentitySearch.nimc/IdentitySearch/searchByOneFingerRecursiveRequest" message="tns:searchByOneFingerRecursive" />
<output wsam:Action="http://IdentitySearch.nimc/IdentitySearch/searchByOneFingerRecursiveResponse" message="tns:searchByOneFingerRecursiveResponse" />
</operation>
<operation name="TransferUnits">
<input wsam:Action="http://IdentitySearch.nimc/IdentitySearch/TransferUnitsRequest" message="tns:TransferUnits" />
<output wsam:Action="http://IdentitySearch.nimc/IdentitySearch/TransferUnitsResponse" message="tns:TransferUnitsResponse" />
</operation>
<operation name="getAvailableUnits">
<input wsam:Action="http://IdentitySearch.nimc/IdentitySearch/getAvailableUnitsRequest" message="tns:getAvailableUnits" />
<output wsam:Action="http://IdentitySearch.nimc/IdentitySearch/getAvailableUnitsResponse" message="tns:getAvailableUnitsResponse" />
</operation>
<operation name="login">
<input wsam:Action="http://IdentitySearch.nimc/IdentitySearch/loginRequest" message="tns:login" />
<output wsam:Action="http://IdentitySearch.nimc/IdentitySearch/loginResponse" message="tns:loginResponse" />
</operation>
<operation name="ApproveUser">
<input wsam:Action="http://IdentitySearch.nimc/IdentitySearch/ApproveUserRequest" message="tns:ApproveUser" />
<output wsam:Action="http://IdentitySearch.nimc/IdentitySearch/ApproveUserResponse" message="tns:ApproveUserResponse" />
</operation>
<operation name="DeclineUser">
<input wsam:Action="http://IdentitySearch.nimc/IdentitySearch/DeclineUserRequest" message="tns:DeclineUser" />
<output wsam:Action="http://IdentitySearch.nimc/IdentitySearch/DeclineUserResponse" message="tns:DeclineUserResponse" />
</operation>
<operation name="passwordchange">
<input wsam:Action="http://IdentitySearch.nimc/IdentitySearch/passwordchangeRequest" message="tns:passwordchange" />
<output wsam:Action="http://IdentitySearch.nimc/IdentitySearch/passwordchangeResponse" message="tns:passwordchangeResponse" />
</operation>
<operation name="AllTransfersByASA">
<input wsam:Action="http://IdentitySearch.nimc/IdentitySearch/AllTransfersByASARequest" message="tns:AllTransfersByASA" />
<output wsam:Action="http://IdentitySearch.nimc/IdentitySearch/AllTransfersByASAResponse" message="tns:AllTransfersByASAResponse" />
</operation>
<operation name="createAccountORGChecker">
<input wsam:Action="http://IdentitySearch.nimc/IdentitySearch/createAccountORGCheckerRequest" message="tns:createAccountORGChecker" />
<output wsam:Action="http://IdentitySearch.nimc/IdentitySearch/createAccountORGCheckerResponse" message="tns:createAccountORGCheckerResponse" />
</operation>
<operation name="createAccountUSER">
<input wsam:Action="http://IdentitySearch.nimc/IdentitySearch/createAccountUSERRequest" message="tns:createAccountUSER" />
<output wsam:Action="http://IdentitySearch.nimc/IdentitySearch/createAccountUSERResponse" message="tns:createAccountUSERResponse" />
</operation>
<operation name="searchByNIN">
<input wsam:Action="http://IdentitySearch.nimc/IdentitySearch/searchByNINRequest" message="tns:searchByNIN" />
<output wsam:Action="http://IdentitySearch.nimc/IdentitySearch/searchByNINResponse" message="tns:searchByNINResponse" />
</operation>
<operation name="searchByDocumentNo">
<input wsam:Action="http://IdentitySearch.nimc/IdentitySearch/searchByDocumentNoRequest" message="tns:searchByDocumentNo" />
<output wsam:Action="http://IdentitySearch.nimc/IdentitySearch/searchByDocumentNoResponse" message="tns:searchByDocumentNoResponse" />
</operation>
<operation name="searchByID">
<input wsam:Action="http://IdentitySearch.nimc/IdentitySearch/searchByIDRequest" message="tns:searchByID" />
<output wsam:Action="http://IdentitySearch.nimc/IdentitySearch/searchByIDResponse" message="tns:searchByIDResponse" />
</operation>
<operation name="searchByIDs">
<input wsam:Action="http://IdentitySearch.nimc/IdentitySearch/searchByIDsRequest" message="tns:searchByIDs" />
<output wsam:Action="http://IdentitySearch.nimc/IdentitySearch/searchByIDsResponse" message="tns:searchByIDsResponse" />
</operation>
<operation name="searchByDemo">
<input wsam:Action="http://IdentitySearch.nimc/IdentitySearch/searchByDemoRequest" message="tns:searchByDemo" />
<output wsam:Action="http://IdentitySearch.nimc/IdentitySearch/searchByDemoResponse" message="tns:searchByDemoResponse" />
</operation>
<operation name="searchByDemoNIN">
<input wsam:Action="http://IdentitySearch.nimc/IdentitySearch/searchByDemoNINRequest" message="tns:searchByDemoNIN" />
<output wsam:Action="http://IdentitySearch.nimc/IdentitySearch/searchByDemoNINResponse" message="tns:searchByDemoNINResponse" />
</operation>
<operation name="getAllTopUpUnits">
<input wsam:Action="http://IdentitySearch.nimc/IdentitySearch/getAllTopUpUnitsRequest" message="tns:getAllTopUpUnits" />
<output wsam:Action="http://IdentitySearch.nimc/IdentitySearch/getAllTopUpUnitsResponse" message="tns:getAllTopUpUnitsResponse" />
</operation>
<operation name="unitsummaryASA">
<input wsam:Action="http://IdentitySearch.nimc/IdentitySearch/unitsummaryASARequest" message="tns:unitsummaryASA" />
<output wsam:Action="http://IdentitySearch.nimc/IdentitySearch/unitsummaryASAResponse" message="tns:unitsummaryASAResponse" />
</operation>
<operation name="unitsummaryORG">
<input wsam:Action="http://IdentitySearch.nimc/IdentitySearch/unitsummaryORGRequest" message="tns:unitsummaryORG" />
<output wsam:Action="http://IdentitySearch.nimc/IdentitySearch/unitsummaryORGResponse" message="tns:unitsummaryORGResponse" />
</operation>
<operation name="transactioncountORG">
<input wsam:Action="http://IdentitySearch.nimc/IdentitySearch/transactioncountORGRequest" message="tns:transactioncountORG" />
<output wsam:Action="http://IdentitySearch.nimc/IdentitySearch/transactioncountORGResponse" message="tns:transactioncountORGResponse" />
</operation>
<operation name="transactioncountRangeORG">
<input wsam:Action="http://IdentitySearch.nimc/IdentitySearch/transactioncountRangeORGRequest" message="tns:transactioncountRangeORG" />
<output wsam:Action="http://IdentitySearch.nimc/IdentitySearch/transactioncountRangeORGResponse" message="tns:transactioncountRangeORGResponse" />
</operation>
<operation name="transactioncountUSER">
<input wsam:Action="http://IdentitySearch.nimc/IdentitySearch/transactioncountUSERRequest" message="tns:transactioncountUSER" />
<output wsam:Action="http://IdentitySearch.nimc/IdentitySearch/transactioncountUSERResponse" message="tns:transactioncountUSERResponse" />
</operation>
<operation name="transactioncountRangeUSER">
<input wsam:Action="http://IdentitySearch.nimc/IdentitySearch/transactioncountRangeUSERRequest" message="tns:transactioncountRangeUSER" />
<output wsam:Action="http://IdentitySearch.nimc/IdentitySearch/transactioncountRangeUSERResponse" message="tns:transactioncountRangeUSERResponse" />
</operation>
<operation name="transactionLogsORG">
<input wsam:Action="http://IdentitySearch.nimc/IdentitySearch/transactionLogsORGRequest" message="tns:transactionLogsORG" />
<output wsam:Action="http://IdentitySearch.nimc/IdentitySearch/transactionLogsORGResponse" message="tns:transactionLogsORGResponse" />
</operation>
<operation name="transactionLogsRangeORG">
<input wsam:Action="http://IdentitySearch.nimc/IdentitySearch/transactionLogsRangeORGRequest" message="tns:transactionLogsRangeORG" />
<output wsam:Action="http://IdentitySearch.nimc/IdentitySearch/transactionLogsRangeORGResponse" message="tns:transactionLogsRangeORGResponse" />
</operation>
<operation name="transactionLogsUSER">
<input wsam:Action="http://IdentitySearch.nimc/IdentitySearch/transactionLogsUSERRequest" message="tns:transactionLogsUSER" />
<output wsam:Action="http://IdentitySearch.nimc/IdentitySearch/transactionLogsUSERResponse" message="tns:transactionLogsUSERResponse" />
</operation>
<operation name="transactionLogsRangeUSER">
<input wsam:Action="http://IdentitySearch.nimc/IdentitySearch/transactionLogsRangeUSERRequest" message="tns:transactionLogsRangeUSER" />
<output wsam:Action="http://IdentitySearch.nimc/IdentitySearch/transactionLogsRangeUSERResponse" message="tns:transactionLogsRangeUSERResponse" />
</operation>
</portType>
<binding name="IdentitySearchPortBinding" type="tns:IdentitySearch">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="getPermissionByLevel">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getPermissionByLevel2">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getAccessObject">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getAccessList">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="grantaccessType">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="revokeaccessType">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="grantaccessDemo">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="revokeaccessDemo">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="verifyFinger">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="verifyFingerWithData">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="compareFinger">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="validIDs">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="UpdateUser">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="UpdateUserAndResetPassword">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="UpdateUserSELF">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getUserByName">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="checkDuplicateUserForORGs">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getUserByID">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getAllUsers">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="searchByFingerAndPosition">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getSignature">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="searchByOneFingerRecursive">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="TransferUnits">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getAvailableUnits">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="login">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="ApproveUser">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="DeclineUser">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="passwordchange">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="AllTransfersByASA">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="createAccountORGChecker">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="createAccountUSER">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="searchByNIN">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="searchByDocumentNo">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="searchByID">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="searchByIDs">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="searchByDemo">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="searchByDemoNIN">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getAllTopUpUnits">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="unitsummaryASA">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="unitsummaryORG">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="transactioncountORG">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="transactioncountRangeORG">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="transactioncountUSER">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="transactioncountRangeUSER">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="transactionLogsORG">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="transactionLogsRangeORG">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="transactionLogsUSER">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="transactionLogsRangeUSER">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="IdentitySearch">
<port name="IdentitySearchPort" binding="tns:IdentitySearchPortBinding">
<soap:address location="http://10.254.254.4:8080/IDSearchServiceUpdated2/IdentitySearch" />
</port>
</service>
</definitions>