src/main/resources/soapresources/nimc/identitysearch/DataReception.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://frontend.ws.nimc.gov.ng/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://frontend.ws.nimc.gov.ng/" name="DataReceptionService">
<types>
<xsd:schema>
<xsd:import namespace="http://frontend.ws.nimc.gov.ng/" schemaLocation="DataReception.xsd"></xsd:import>
</xsd:schema>
</types>
<message name="receiveDeathData">
<part name="parameters" element="tns:receiveDeathData"></part>
</message>
<message name="receiveDeathDataResponse">
<part name="parameters" element="tns:receiveDeathDataResponse"></part>
</message>
<message name="InvalidRequestException">
<part name="fault" element="tns:InvalidRequestException"></part>
</message>
<message name="InvalidXMLDataException">
<part name="fault" element="tns:InvalidXMLDataException"></part>
</message>
<message name="receiveNewData">
<part name="parameters" element="tns:receiveNewData"></part>
</message>
<message name="receiveNewDataResponse">
<part name="parameters" element="tns:receiveNewDataResponse"></part>
</message>
<message name="receiveModificationData">
<part name="parameters" element="tns:receiveModificationData"></part>
</message>
<message name="receiveModificationDataResponse">
<part name="parameters" element="tns:receiveModificationDataResponse"></part>
</message>
<message name="receiveReprintData">
<part name="parameters" element="tns:receiveReprintData"></part>
</message>
<message name="receiveReprintDataResponse">
<part name="parameters" element="tns:receiveReprintDataResponse"></part>
</message>
<portType name="DataReception">
<operation name="receiveDeathData">
<input wsam:Action="http://frontend.ws.nimc.gov.ng/DataReception/receiveDeathDataRequest" message="tns:receiveDeathData"></input>
<output wsam:Action="http://frontend.ws.nimc.gov.ng/DataReception/receiveDeathDataResponse" message="tns:receiveDeathDataResponse"></output>
<fault message="tns:InvalidRequestException" name="InvalidRequestException" wsam:Action="http://frontend.ws.nimc.gov.ng/DataReception/receiveDeathData/Fault/InvalidRequestException"></fault>
<fault message="tns:InvalidXMLDataException" name="InvalidXMLDataException" wsam:Action="http://frontend.ws.nimc.gov.ng/DataReception/receiveDeathData/Fault/InvalidXMLDataException"></fault>
</operation>
<operation name="receiveNewData">
<input wsam:Action="http://frontend.ws.nimc.gov.ng/DataReception/receiveNewDataRequest" message="tns:receiveNewData"></input>
<output wsam:Action="http://frontend.ws.nimc.gov.ng/DataReception/receiveNewDataResponse" message="tns:receiveNewDataResponse"></output>
<fault message="tns:InvalidRequestException" name="InvalidRequestException" wsam:Action="http://frontend.ws.nimc.gov.ng/DataReception/receiveNewData/Fault/InvalidRequestException"></fault>
<fault message="tns:InvalidXMLDataException" name="InvalidXMLDataException" wsam:Action="http://frontend.ws.nimc.gov.ng/DataReception/receiveNewData/Fault/InvalidXMLDataException"></fault>
</operation>
<operation name="receiveModificationData">
<input wsam:Action="http://frontend.ws.nimc.gov.ng/DataReception/receiveModificationDataRequest" message="tns:receiveModificationData"></input>
<output wsam:Action="http://frontend.ws.nimc.gov.ng/DataReception/receiveModificationDataResponse" message="tns:receiveModificationDataResponse"></output>
<fault message="tns:InvalidRequestException" name="InvalidRequestException" wsam:Action="http://frontend.ws.nimc.gov.ng/DataReception/receiveModificationData/Fault/InvalidRequestException"></fault>
<fault message="tns:InvalidXMLDataException" name="InvalidXMLDataException" wsam:Action="http://frontend.ws.nimc.gov.ng/DataReception/receiveModificationData/Fault/InvalidXMLDataException"></fault>
</operation>
<operation name="receiveReprintData">
<input wsam:Action="http://frontend.ws.nimc.gov.ng/DataReception/receiveReprintDataRequest" message="tns:receiveReprintData"></input>
<output wsam:Action="http://frontend.ws.nimc.gov.ng/DataReception/receiveReprintDataResponse" message="tns:receiveReprintDataResponse"></output>
<fault message="tns:InvalidRequestException" name="InvalidRequestException" wsam:Action="http://frontend.ws.nimc.gov.ng/DataReception/receiveReprintData/Fault/InvalidRequestException"></fault>
<fault message="tns:InvalidXMLDataException" name="InvalidXMLDataException" wsam:Action="http://frontend.ws.nimc.gov.ng/DataReception/receiveReprintData/Fault/InvalidXMLDataException"></fault>
</operation>
</portType>
<binding name="DataReceptionPortBinding" type="tns:DataReception">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="receiveDeathData">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="InvalidRequestException">
<soap:fault name="InvalidRequestException" use="literal"></soap:fault>
</fault>
<fault name="InvalidXMLDataException">
<soap:fault name="InvalidXMLDataException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="receiveNewData">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="InvalidRequestException">
<soap:fault name="InvalidRequestException" use="literal"></soap:fault>
</fault>
<fault name="InvalidXMLDataException">
<soap:fault name="InvalidXMLDataException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="receiveModificationData">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="InvalidRequestException">
<soap:fault name="InvalidRequestException" use="literal"></soap:fault>
</fault>
<fault name="InvalidXMLDataException">
<soap:fault name="InvalidXMLDataException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="receiveReprintData">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="InvalidRequestException">
<soap:fault name="InvalidRequestException" use="literal"></soap:fault>
</fault>
<fault name="InvalidXMLDataException">
<soap:fault name="InvalidXMLDataException" use="literal"></soap:fault>
</fault>
</operation>
</binding>
<service name="DataReceptionService">
<port name="DataReceptionPort" binding="tns:DataReceptionPortBinding">
<soap:address location="http://54.183.156.51:8090/nimcdataupload/DataReception"></soap:address>
</port>
</service>
</definitions>